
html, body {
    height:100%;
}

body{
    font-family: Arial;
}

@keyframes ronddraaien {
    0%{
        transform:rotate(0turn);
    }
    100%{
        transform:rotate(1turn);
    }
}

body > div {
    bottom:0;
    left:-50%;
    opacity:.11;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

body > div:nth-of-type(odd) {
    background-image: linear-gradient(-60deg, rgb(255, 0, 0) 52%, rgb(255, 255, 0) 52%);
}

body > div:nth-of-type(even) {
    background-image: linear-gradient(60deg, rgb(255, 0, 0) 52%, rgb(255, 255, 0) 52%);
}

body > div:nth-of-type(1){
    animation:slide 1s ease-in-out infinite alternate-reverse;
}

body > div:nth-of-type(2){
    animation:slide 2s ease-in-out infinite alternate-reverse;
}

body > div:nth-of-type(3){
    animation:slide 3s ease-in-out infinite alternate;
}

body > div:nth-of-type(4){
    animation:slide 4s ease-in-out infinite alternate;
}

body > div:nth-of-type(5){
    animation:slide 5s ease-in-out infinite alternate-reverse;
}

body > div:nth-of-type(6){
    animation:slide 6s ease-in-out infinite alternate-reverse;
}

body > div:nth-of-type(7){
    animation:slide 7s ease-in-out infinite alternate;
}

body > div:nth-of-type(8){
    animation:slide 8s ease-in-out infinite alternate;
}

body > div:nth-of-type(9){
    animation:slide 9s ease-in-out infinite alternate-reverse;
}

@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}

input[type=checkbox]:checked ~ div{
    animation-play-state: paused;
}

header{
    background: rgba(255, 255, 0, 0.9);
    color: rgb(255, 0, 0);
    text-align: center;
}

main{
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 25%);
    width: 100%;
    padding-left: 25%;
    grid-column-gap: 1em;
    text-align: center;
    /*grid-row-gap: 1em; 
    align-self: center;
     left: 50%; */
}

details {
    transition: 1s;
}

details[open] {
    background: rgba(255, 255, 0,.7);
}

summary{
    background: rgba(255, 255, 0, 0.9);
    color: rgb(255, 0, 0);
    padding: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    outline: none;
    border-radius: .3em;
    font-weight: bold;
}

main > details > summary:hover {
    background: rgb(240, 240, 0,.9);
}

body > header > div {
    position: absolute;
    top: 95%;
    left: 98%;
    transform: translate(-50% -50%);
}